/* VOLT DARK THEME */

body {
    background: #0e0e0e;
    color: #ddd;
    font-family: "Inter", sans-serif;
    margin: 0;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 60px;
    background: #141414;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #222;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    position: fixed;
    top: 60px;
    bottom: 0;
    background: #111;
    border-right: 1px solid #222;
    padding-top: 20px;
    overflow-y: auto;
}

.sidebar a {
    display: block;
    padding: 12px 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover,
.sidebar .active {
    background: #1f1f1f;
    color: #fff;
}

/* MAIN CONTENT */
.content {
    margin-left: 250px;
    padding: 90px 40px 40px 40px;
}

h1, h2, h3 {
    color: #fff;
}

/* CARDS */
.card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #333;
    margin-bottom: 25px;
}
